p { /*info*/
  color: #77dd77 ;
  font-size: x-large;
  font-family: 'Brygada 1918', serif;
}

p.welcome {
  color: #648756;
  font-size: 3em;
  font-family: 'Brygada 1918', serif;
}

body{/*background image*/
    background-color:#e9e9e9;
    background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/code-technology_9OQTUSUS0M.jpg);
}

/* Navigation bar*/

/* Source: https://www.w3schools.com/css/css_navbar_horizontal.asp */

ul {
  list-style-type: none; /* Removes the bullet point next to each item */
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li a {
  display: block;  /* Treats each anchor (link) element as if it were contained in a block */
  color: #88bda2;
  text-align: center;  /* Aligns text within the 'block' */
  padding: 14px 16px;  /* Expands the width and height of the 'block' */
  text-decoration: none;  /* Removes the underline */
}

li {
  float: right;  /* All the blocks are lined up horizontally starting from the left side of the page */
}

li a:hover:not(.active) {  /* Hovering over the links will make the blocks change colour, except those in the .active class, in this case, the 'Home' tab, since we're looking at the index.html code. You would need to change this for each separate html page. */
  background-color: #111;
}

.active {  /* the contacts tab is styled with a class, rather than an ID */
  background-color: #333;
}

.boxed { /*source:https://www.thesitewizard.com/css/rectangular-box-border.shtml*/
  border: 2px solid grey ;
  background-color: white;
  height: 150px;
  width: 580px;
  margin-top: 200px;
  margin-left: 500px;
}

div#box { /*about-me*/
  border: 2px solid grey ;
  background-color: white;
  height: 400px;
  width: 700px;
}

li#name {/*KL portfolio*/
  color:#88bda2;
  font-size: large;
  font-family: 'Brygada 1918', serif;
  margin-top: 10px;
}

div#box2 { /*experience*/
  border: 2px solid grey ;
  background-color: white;
  height: 400px;
  width: 700px;
  margin-left: 800px;
}

img#camera { /*image box*/
  border: 2px solid grey ;
  background-color: white;
  height: 300px;
  width: 350px;
  margin-top: -400px;
}

